{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<meta name="keywords" content="Django Online Shop" />
<meta name="description" content="Django Online Shop">
<meta name="author" content="D-THEMES">

<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}">

<!-- WebFont.js -->
<script>
    WebFontConfig = {
        google: { families: ['Poppins:400,500,600,700,800','Yellowtail:400'] }
    };
    (function (d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = "{% static 'js/webfont.js' %}";
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
    })(document);
</script>

<link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-regular-400.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-solid-900.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{% static 'vendor/fontawesome-free/webfonts/fa-brands-400.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{% static 'fonts/wolmart87d5.ttf?png09e' %}" as="font" type="font/ttf" crossorigin="anonymous">

<!-- Vendor CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">

<!-- Plugins CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

<!-- Default CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/demo11.min.css' %}">