{% load static %}

<!-- Plugin JS File -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/parallax/parallax.min.js' %}"></script>
<script src="{% static 'vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/skrollr/skrollr.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendor/zoom/jquery.zoom.js' %}"></script>
<script src="{% static 'vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'js/main.min.js' %}"></script>